* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    color: white;
}

/* search bar starts here */
.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  /* remove the underline */
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    /* all: unset; */
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}
/* search bar ends here */

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}

.thumbnail {
    /* PC优先 */
    /* max-height: 300px; 
    max-width: 300px;  */
    max-height: 0%; 
    max-width: 100%; 
    height: auto; /* maintain aspect ratio */
    width: auto; /* maintain aspect ratio */
    border-radius: 19px;
    object-fit: cover; /* this will cover the area without stretching the image */
}